# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*/.vs/*
*/_vm/*
*/Debug/*
*/Release/*
*.vcx*
/.vs/Flumes
/.vs
/CSharp-WebSocket-Server-master/Example/Server/Server/obj/Release
/SuperviFlume/SuperviFlume/obj/Debug/TempPE
/SuperviFlume/SuperviFlume/obj/Release
/SuperviFlume/SuperviFlume/obj/Debug/SuperviFlume.csproj.AssemblyReference.cache
/SuperviFlume/SuperviFlume/obj/Debug/SuperviFlume_MarkupCompile.i.cache
/SuperviFlume/SuperviFlume/obj/Debug/SuperviF.BF5710EE.Up2Date
/SuperviFlume/SuperviFlume/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
